#node-list {
    width: 80%;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.layer {
    display: block;
    margin: 30px 0 30px 10%;
    font-size: 20px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    background: transparent;
}

input:focus {
    outline-width: 0;
}

#adj-list {
    margin: 50px 0;
    text-align: center;
}

.longer-input {
    width: 600px;
}

button {
    margin: 0 50px;
}

#button-div {
    display: block;
    text-align: center;
}

#output {
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

#container {
    width: 80%;
    height: 500px;
    display: block;
    margin: 5% auto;
    padding: 15px;
    border: 1px solid black;
    background: whitesmoke;
    border-radius: 5px;
}