/* Content */
@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-family: "Midnight";
	src: url(../fonts/BeautyDemo.ttf);
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background-size: cover;
	padding: 0;
	margin: 0;
} 

a {
	text-decoration: none;
	color: #4e3c3e;
	outline: none;
}

a:focus {
	color: #f48b95;
}

/* format */
.headformat {
	width: 60%;
	background: url("../image/background14.jpg");
	background-size: 100% 100%;
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	font-size: 17px;
	cursor: pointer;
	padding-bottom: 1%;
}

.headformat:hover {
	background: rgb(192, 190, 190);
}

.contentformat {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding-top: 1%;
}

/* Properties of Images */
#images {
	position: relative;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#pic2 {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid gray;
}

#outercontainer {
	display: none;
}